@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=BioRhyme');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=Lato');
body{
    width:960px;
    margin:0 auto;
    font-family: 'Lato', sans-serif;
}
p{
    margin:0px;
}
header{
    display: grid;
    grid-template-columns: 420px 55px 1fr;
    height: 100px;
}
.header-triangle{
    background-image: url('../img/header-triangle.svg');
}
.header-nav{
    background-color: #4b5c59;
    display: flex;
    justify-content:center;
    align-items:center;
}
nav{
    width: 320px;
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color:white;
    font-family: 'Nunito', sans-serif;
}
.about{
    height: 450px;
    display: grid;
    grid-template-columns: 625px 1fr;
}
.about-photo{
    background: url('../img/main_photo.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns: 360px 1fr;
}
.about-triangle{
    background: url('../img/about-triangle.svg');
}
.personal-info{
    background-color: #5d3f37;
    color: white;
    display: grid;
    grid-template-rows: 150px 205px 1fr;
}
.personal-info h2{
    font-family: 'BioRhyme', serif;
    font-size: 26px;
}
.personal-info div:first-child h2{
   margin-bottom: 0px;
   margin-top: 60px;
}
.personal-info div:first-child p{
   font-family: 'Alegreya Sans SC', sans-serif;
}
.personal-info-item p{
    display: inline;
    font-size: 16px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.personal-info-item{
    width: 320px;
    margin: 4px;
    display: grid;
    grid-template-columns: 60px 1fr;
}
.personal-info-item p:first-child{
    font-weight: bold;
}
.info-items-wraper{
    display: flex;
    flex-direction:column;
    justify-content:center;
}
.social-wraper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social-wraper img{
    width:50%;
}
.section-item {
    display: grid;
    grid-template-columns:225px 1fr;
    min-height: 500px;
}
.triangle{
    background-image: url('../img/item-triangle.svg');
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 100px;
}
.triangle h2{
        font-size: 20px;
        text-align: center;
}
.triangle div:last-child{
    background-image: url(../img/item-triangle-bottom.svg);
    
}
.section-item-content{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.text-wraper{
    width: 650px;
    min-height: 250px;
    margin-bottom: 150px;
}

.text-wraper p{
    font-size: 16pt;
    text-align: justify;
}
.skill-item{
    width: 270px;
    min-height: 250px;
    margin-bottom: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-rows: 60px 1fr;
}
.skill-name{
    background-image: url(../img/skill-name-triangle.svg);
    color: white;
    font-size: 16pt;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-info p{
    text-align: justify;
    font-size: 16pt;
    margin-top: 15px;
}